#main-logo {
  width: 200px;
  margin-top: .5%;
  margin-left: 8%;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
.header-color-bar {
  background-color: #00ccd2;
  height: 3px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  color: white;
  height: 5%;
  padding-left: 8%;
  padding-right: 8%;
}
footer > img {
  height: auto;
}
#nucks-logo {
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
.gif {
  height: 125px;
  position: relative;
  top: 45px;
  margin-left: 1%;
  margin-right: 1%;
  max-width: 100%;
}
.input {
  width: 40%;
  height: 200px;
  border-radius: 5px;
}
.words {
  font-size: 24px;
  margin-bottom: 150px;
  display: inline-block;
}
textarea:focus {
  border: none;
  outline: none !important;
  box-shadow:0 0 10px #00ccd2;
}
.right {
  margin-right: 8%;
}
.chip {
  margin: 2px;
}
.space-row {
  height: 50px;
}
.small-space-row {
  height: 25px;
}
#learn-more-button {
  margin-top: 2%;
}
body {
  overflow: auto;
}
#textOnMainPage {
  margin-top: -5%;
}
.card {
  margin: 3%;
  margin-right: 8%;
  width: 100%;
  display: inline-block;
}
.google {
  width: 200px;
  height: 50px;
  box-shadow: 2px;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: all .3s ease-out;
  will-change: opacity, transform;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  outline: 0;
  -webkit-appearance: button;
}
.facebook {
  width: 200px;
  height: 50px;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: button;
}
.facebook:hover {
  transition: all .3s ease-out;
  will-change: opacity, transform;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-tap-highlight-color: transparent;
  border: none;
  border-radius: 2px;
}
