<div class="userStory-space-row"></div>
<div class = "dance"></div>

<div class = "container">
  <div class = "space-row"></div>
  <div class = "space-row hide-on-small-only"></div>
  <div class = "space-row"></div>
  <div class = "space-row"></div>
  <h3 class = "center"><i class="material-icons">gesture</i> CREATE. ENJOY. SHARE. </h3>
  <h5 class = "center">It's time to get your Gif on.</h5>
    <div class = 'center'>
      <a class="waves-effect waves-light btn purple lighten-3" id = "get-started-button" ui-sref = "register">Get Started</a>
      <!--<a class="waves-effect waves-light btn purple lighten-3" id = "learn-more-button" ui-sref = "learnMore">Learn More</a>-->
    </div>

      <div class = "small-space-row"></div>

    <!-- <h5>Our Favorite Stories</h5>

      <div class = "small-space-row"></div>

      <div class = "row row-of-cards">

        <card></card>
        <card></card>
        <card></card>

        </div>
      <div class = "row">
        <card></card>
        <card></card>
        <card></card>
      </div> -->

</div>
<!-- //amber lighten-1 light-blue darken-1-->
