<nav>
    <div class = "header-color-bar"></div>
    <div class="nav-wrapper white">
      <a href="#" class="brand-logo"><a ui-sref= "home"><img id = "main-logo" class = "col s4 " src = "./img/giphastrator-logo.png" /></a></a>
      <ul id="nav-mobile" class="right black-text">


        <li><a id = "dashboard" class = "black-text hide-on-small-only" ng-show="loggedIn" ui-sref= "dashboard">Dashboard</a></li>
				<li><a id = "writeAStory" class = "black-text hide-on-small-only" ng-show="loggedIn" ui-sref= "write">New Story</a></li>
        <li><a id = "logout" class = "black-text hide-on-small-only" ng-show="loggedIn" ng-click="logout()">Log Out</a></li>
        <li><a id = "login" class = "hide-on-small-only black-text" ng-show="!loggedIn" href="/callback">Login/Register</a></li>
        <!-- <li><a id = "register" class = "hide-on-small-only black-text" ui-sref="register">Register</a></li> -->
        <!-- <li><a class = "black-text" ui-sref="collapsible.html">Practice</a></li> -->


                <!-- Dropdown Structure -->
                <ul id="dropdown1" class="hide-on-med-and-up dropdown-content">
                  <!-- <li><a id = "login" ui-sref="login" class = 'black-text'>Login</a></li>
                  <li class="divider"></li>
                  <li><a id = "register" ui-sref="register" class="black-text">Register</a></li>

                  <li><a id = "dashboard" class = "black-text ng-hide" ui-sref= "dashboard">Dashboard</a></li>
                  <li><a id = "logout" class = "red-text ng-hide" ng-click = "logOut()" ui-sref= "home">Log Out</a></li> -->

                </ul>
                  <li><a class="hide-on-med-and-up dropdown-button black-text" href="#!" data-activates="dropdown1"><i class="material-icons right">list</i></a></li>



        </div>
      </ul>
    </div>
  </nav>
