<div class="row hide-on-small-only">


    <!-- <button class="clipboard-button" data-clipboard-target="#userStory"> -->
        <!-- <img src="./img/clipboard.svg" id = "clipboard" alt="Copy to clipboard"> -->
    <!-- </button> -->

<div class = "container">
		<!-- <h3>{{ story.title }}</h3> -->
		<h3 class="ui block header">{{ story.title }}</h3>
		<!-- <hr> -->
		<div class="words" id="userStory" ng-bind-html="story.story">{{ story.story }}</div>

		{{ story }}
		<hr>
		<h6>{{ author }}</h6>
		<div class="ui action input">
		  <input type="text" value="http://ww.short.url/c0opq">
		  <button class="ui teal right labeled icon button">
		    <i class="copy icon"></i>
		    Share
		  </button>
		</div>
</div>
</div>
