<div class="dashboard-background">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h5><strong>Dashboard</strong></h5>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <img ng-src="{{userData[0].password.profileImageURL}}" />

                <!-- <h5>Your Stories <i class="material-icons left">create</i></h5><br><br><br> -->
                <!-- <h3>Title</h3><input type= "text" class="col s3" ng-model="titleOfStory"/><br><br> -->
                <h4><a ui-sref = "write" class="waves-effect waves-light btn-large">Create story </a></h4>
                <hr />

            </div>

            <div class = "space-row"></div>
            <div class = "space-row"></div>
            <div class = "space-row"></div>
            <div class = "space-row"></div>
            <div class = "space-row"></div>
            <div class = "space-row"></div>
            <div class = "space-row"></div>
            <div class = "space-row"></div>


            <div class="row">
                <div class="col s6 offset-s3 social-box">
                    <img class="social-banner" ng-src="/img/social-media-share-banner/Large-Banner-Top.png" />
                </div>

                <div class="row">

                    <div class="col s8 offset-s2 social-box">

                        <!--PINTEREST SHARE ICON-->
                        <a socialshare socialshare-provider="pinterest" socialshare-text="Giphastrator is my absolute favorite!" socialshare-hashtags="giphastrator, ilovegifs" socialshare-url="http://www.giphastrator.com">

                            <span ng-switch on="pinterest" ng-mouseleave="changePinterestColor()">
   <img ng-switch-when="ON" class = "social" src='/img/social-media-share-banner/Pinterest-Button-for-Banner.png'>
   <img ng-switch-when="OFF" class="social" src='/img/social-media-share-banner/Pinterest-Button-for-Banner-Black.png'>
</span></a>

                        <!--REDDIT SHARE ICON-->
                        <a socialshare socialshare-provider="reddit" socialshare-text="Giphastrator is my absolute favorite!" socialshare-hashtags="giphastrator, ilovegifs" socialshare-url="http://www.giphastrator.com">

                            <span ng-switch on="reddit" ng-mouseleave="changeRedditColor()">
   <img ng-switch-when="ON" class = "social" src='/img/social-media-share-banner/Reddit-Button-for-Banner.png'>
   <img ng-switch-when="OFF" class="social" src='/img/social-media-share-banner/Reddit-Button-for-Banner-Black.png'>
</span></a>

                        <!--DIGG SHARE ICON-->
                        <a socialshare socialshare-provider="digg" socialshare-text="Giphastrator is my absolute favorite!" socialshare-hashtags="giphastrator, ilovegifs" socialshare-url="http://www.giphastrator.com">

                            <span ng-switch on="digg" ng-mouseleave="changeDiggColor()">
   <img ng-switch-when="ON" class = "social" src='/img/social-media-share-banner/Digg-Button-for-Banner.png'>
   <img ng-switch-when="OFF" class="social" src='/img/social-media-share-banner/Digg-Button-for-Banner-Black.png'>
</span></a>

                        <!--TUMBLR SHARE ICON-->
                        <a socialshare socialshare-provider="tumblr" socialshare-text="Giphastrator is my absolute favorite!" socialshare-hashtags="giphastrator, ilovegifs" socialshare-url="http://www.giphastrator.com">

                            <span ng-switch on="tumblr" ng-mouseleave="changeTumblrColor()">
   <img ng-switch-when="ON" class = "social" src='/img/social-media-share-banner/Tumblr-Button-for-Banner.png'>
   <img ng-switch-when="OFF" class="social" src='/img/social-media-share-banner/Tumblr-Button-for-Banner-Black.png'>
</span></a>

                        <!--TWITTER SHARE ICON-->
                        <a socialshare socialshare-provider="twitter" socialshare-text="Giphastrator is my absolute favorite!" socialshare-hashtags="giphastrator, ilovegifs" socialshare-url="http://www.giphastrator.com">

                            <span ng-switch on="twitter" ng-mouseleave="changeTwitterColor()">
   <img ng-switch-when="ON" class = "social" src='/img/social-media-share-banner/Twitter-Button-for-Banner.png'>
   <img ng-switch-when="OFF" class="social" src='/img/social-media-share-banner/Twitter-Button-for-Banner-Black.png'>
</span></a>

<!--TWITTER SHARE ICON-->
<a socialshare socialshare-provider="facebook" socialshare-text="Giphastrator is my absolute favorite!" socialshare-hashtags="giphastrator, ilovegifs" socialshare-url="http://www.giphastrator.com">

    <span ng-switch on="facebook" ng-mouseleave="changeFacebookColor()">
<img ng-switch-when="ON" class = "social" src='/img/social-media-share-banner/Facebook-Button-for-Banner.png'>
<img ng-switch-when="OFF" class="social" src='/img/social-media-share-banner/Facebook-Button-for-Banner-Black.png'>
</span></a>
                    </div>


                </div>
                <!-- <h5><a class="red waves-effect waves-light btn">Delete Account<i class="material-icons right">create</i> </a></h5> -->


                <!-- <div class = "col s6 offset-s6">
<h5>Change Profile Info <i class="material-icons">people outline</i></h5>
    <div class="input-field">
      <input id="email" type="email" class="validate" ng-model="email">
      <label for="email">Email</label>
    </div>

    <div class="input-field">
      <input id="password" type="password" class="validate" ng-model="password">
      <label for="password">Password</label>
    </div>
<br>
<div class = "center">
<a class="waves-effect waves-light blue btn">Change Email</a>
</div>
  </div>
</div> -->
            </div>
