<div class = "container">
  <div class = "space-row"></div>
  <h5 class = "center">The Community where anyone can be an Illustrator<i class="material-icons">gesture</i></h5>
    <div class = 'center'>
      <a class="waves-effect waves-light btn purple lighten-3" id = "learn-more-button">Learn More</a>
    </div>
      <div class = "small-space-row"></div>

    <h5>Our Favorite Stories</h5>

      <div class = "small-space-row"></div>

      <div class = "row row-of-cards">

        <card></card>
        <card></card>
        <card></card>

        </div>
      <div class = "row">
        <card></card>
        <card></card>
        <card></card>
      </div>
</div>

<!-- //amber lighten-1 light-blue darken-1-->
