<div class="space-row"></div>

<h4 class="center">What is Giphastrator?</h4>
<h6 class="center">Giphastrator is a community where you can create custom stories that are filled with Gif animations that make your words come to life.</h6>
<div class="space-row"></div>
<div class = "row">
<div class="col s4 offset-s2">

    <h5>For Example: </h5>
    <p>
      When you create an account, you will be taken to your personal dashboard. Click "Create Story" and you will be taken to the Giphastrator tool.
      From there, you can type and create anything that you like. If you want to insert a custom GIF based on certain words or keywords, all you have
      to do is add a / (by default) in front of and behind the word and it will insert a GIF for you. It's as simple as that.
    </p>

    </div>
    <em><p>
      This is an example result of typing into the editor: /best day of my life/
    </p></em>
    <img class = "col s4 offset-6" ng-src="https://media.giphy.com/media/4gj16IX9jLKAU/giphy.gif" />

</div>
<div class="space-row"></div>
<div class="center">
    <a class="waves-effect waves-light btn amber" ui-sref="register">Register Now</a>
</div>
