<a ui-sref = "dashboard">Dash</a>
<div class="space-row"></div>
<div class="space-row"></div>

<div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
</div>

<div class="row">
    <form class="col s12">

        <!-- <div class="col s6 offset-s3">
            <h5>Welcome Back</h5>
        </div> -->
        <div class = "col s6 offset-s3">
          <img class = "google" ng-click= "googleLoginPopup()"ng-src = "./img/google-sign-in.png" />
        </div>

        <div class="input-field col s6 offset-s3">
            <input id="email" type="email" class="validate" ng-model="email">
            <label for="email">Email</label>
        </div>

        <div class="input-field col s6 offset-s3">
            <input id="password" type="password" class="validate" ng-model="password">
            <label for="password">Password</label>
        </div>

    </form>
</div>

<div class="center">

    <button class="btn waves-effect waves-light light-blue darken-1" type="submit" name="action" ng-click="signIn(email, password)">Log In
        <i class="material-icons right">done_all</i>
    </button><br><br />

    <iframe src="//giphy.com/embed/biJpWkEdgitMs" width="500" height="290" frameBorder="0" class="giphy-embed" allowFullScreen>

    </iframe><p><a href="https://giphy.com/gifs/minions-funny-biJpWkEdgitMs"></a></p>
</div>
