<nav>
    <div class = "header-color-bar"></div>
    <div class="nav-wrapper white">
      <a href="#" class="brand-logo"><a ui-sref= "/home"><img id = "main-logo" class = "col s4 " src = "./img/giphastrator-logo.png" /></a></a>
      <ul id="nav-mobile" class="right black-text hide-on-med-and-down">
        <li><a class = "black-text" ui-sref="/needtodocomingsoon.html">Login</a></li>
        <li><a class = "black-text" ui-sref="register">Register</a></li>
        <!-- <li><a class = "black-text" ui-sref="collapsible.html">Practice</a></li> -->
      </ul>
    </div>
  </nav>
