<nav>
    <div class = "header-color-bar"></div> 
    <div class="nav-wrapper white">
      <a href="#" class="brand-logo"><a ui-sref= "/"><img id = "main-logo" class = "col s4 " src = "./img/giphastrator-logo.png" /></a></a>
      <ul id="nav-mobile" class="right black-text hide-on-med-and-down">
        <li><a class = "black-text" href="sass.html">Login</a></li>
        <li><a class = "black-text" href="badges.html">Register</a></li>
        <li><a class = "black-text" href="collapsible.html">Practice</a></li>
      </ul>
    </div>
  </nav>
