<div class = "confetti"></div>
<div class="row">
    <form class="col s12">

      <div class = "col s6 offset-s3">
      <img id = "party-hat" ng-src = "./img/party-hat.png" />
        <h5 id = "party">Join the Party. It's Where You Belong.</h5>
      </div>


        <div class="input-field col s6 offset-s3">
          <input id="first_name" type="text" class="validate" ng-model="firstName">
          <label for="first_name">First Name</label>
        </div>



        <div class="input-field col s6 offset-s3">
          <input id="last_name" type="text" class="validate" ng-model="lastName">
          <label for="last_name">Last Name</label>
        </div>

                <!-- <img class = "google google-register" ng-click= "googleLoginPopup()"ng-src = "./img/google-sign-in.png" /> -->

        <div class="input-field col s6 offset-s3">
          <input id="username" type="text" class="validate" ng-model="username">
          <label for="username">Username</label>
        </div>
<!--
        <img class = "facebook" ng-click= "loginPopup()"ng-src = "./img/facebook-sign-in.png" /> -->

        <div class="input-field col s6 offset-s3">
          <input id="password" type="password" class="validate" ng-model="password">
          <label for="password">Password</label>
        </div>

        <!-- <img class = "twitter" ng-click= "twitterLoginPopup()"ng-src = "./img/twitter-sign-in.jpg" /> -->

        <div class="input-field col s6 offset-s3">
          <input id="email" type="email" class="validate" ng-model="email">
          <label for="email">Email</label>
        </div>

    </form>
  </div>

  <img class = "sign-in" ng-click="loginPopup()" ng-src="./img/custom-img/giphastratorsigninbuttons/sign-in-with-facebook.png"/>
  <img class = "sign-in" ng-click="loginPopup()" ng-src="./img/custom-img/giphastratorsigninbuttons/sign-in-with-google.png"/>
  <img class = "sign-in" ng-click="loginPopup()" ng-src="./img/custom-img/giphastratorsigninbuttons/sign-in-with-twitter.png"/>

<div class = "center">

  <button id = "register-button" class="btn waves-effect waves-light light-blue darken-1" type="submit" name="action" ng-click="registerUser(email, password, firstName, lastName, username)">Register
    <i class="material-icons right">done_all</i>
  </button>

</div>
