<!-- This is the dropdown menu that the user can use to choose the symbol
that they want to use to create custom GIF's in their writing. -->

<div class="space-row hide-on-small-only"></div>

<div class="container">
    <div class="row">
        <div class="col s4 hide-on-small-only">
            <h5>How It Works:</h5>
            <p>
                Write your story. As you type, you can insert custom GIF's into your work
                by typing a symbol (a slash / by default) after and before the word or words.
                It's better than magic! <i class="tiny material-icons">flash_on</i>
            </p>
        </div>
        <div class="col s12 hide-on-med-and-up">
            <h5>How It Works:</h5>
            <p>
                Write your story. As you type, you can insert custom GIF's into your work
                by typing a symbol (a slash / by default) after and before the word or words.
                It's like magic! <i class="tiny material-icons">flash_on</i>
            </p>
        </div>

        <div class="space-row"></div>

<!--FOR BIGGER SCREENS-->
        <div class="col s2 offset-s1 hide-on-small-only">
            <label>GIF symbol</label>
            <select class="browser-default" ng-model="id">

                <option value="" disabled selected style="display: none;">/</option>
                <option value="/">/</option>
                <option value="$">$</option>
                <option value="+">+</option>
                <option value="*">*</option>
                <option value="&">&</option>
                <option value="#">#</option>
                <option value="!">!</option>
                <option value="@">@</option>
                <option value="%">%</option>
                <option value="=">=</option>
                <option value=".">.</option>
                <option value="^">^</option>
                <option value="-">-</option>
                <option value="|">|</option>
                <option value="[">[</option>
                <option value="]">]</option>
                <option value="{">{</option>
                <option value="}">}</option>
                <option value=":">:</option>
                <option value=",">,</option>
                <option value="`">`</option>
                <option value="<">
                    <</option>
                        <option value=">">></option>
                        <option value="\">\</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="z">z</option>
            </select>
        </div>
<!-- FOR SMALL SCREENS -->
        <div class="col s3 hide-on-med-and-up">
            <label>GIF symbol</label>
            <select class="browser-default" ng-model="id">

                <option value="" disabled selected style="display: none;">/</option>
                <option value="/">/</option>
                <option value="$">$</option>
                <option value="+">+</option>
                <option value="*">*</option>
                <option value="&">&</option>
                <option value="#">#</option>
                <option value="!">!</option>
                <option value="@">@</option>
                <option value="%">%</option>
                <option value="=">=</option>
                <option value=".">.</option>
                <option value="^">^</option>
                <option value="-">-</option>
                <option value="|">|</option>
                <option value="[">[</option>
                <option value="]">]</option>
                <option value="{">{</option>
                <option value="}">}</option>
                <option value=":">:</option>
                <option value=",">,</option>
                <option value="`">`</option>
                <option value="<">
                    <</option>
                        <option value=">">></option>
                        <option value="\">\</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="z">z</option>
            </select>
        </div>
        <!-- This is the rating system dropdown menu for user's to
choose which rating of GIF's they want to use-->

        <div class="col s2 hide-on-small-only">
            <label>GIF Rating</label>
            <select class="browser-default" ng-model="rating">

                <option value="" disabled selected style="display: none;">PG</option>
                <option value="y">Y</option>
                <option value="g">G</option>
                <option value="pg">PG</option>
                <option value="pg-13">PG-13</option>
                <option value="r">R</option>
            </select>
        </div>
        <!-- FOR SMALL SCREENS-->

        <div class="col s3 offset-s1 hide-on-med-and-up">
            <label>GIF Rating</label>
            <select class="browser-default" ng-model="rating">

                <option value="" disabled selected style="display: none;">PG</option>
                <option value="y">Y</option>
                <option value="g">G</option>
                <option value="pg">PG</option>
                <option value="pg-13">PG-13</option>
                <option value="r">R</option>
            </select>
        </div>


        <!--TO FIX IN THE FUTURE. ALLOWS USERS TO CHANGE SIZE OF GIF-->
        <!--This is where the user can change the size of the text that will
  be displayed when they type.-->

        <!-- <div class="col s2">
            <label>GIF Size</label>
            <select class="browser-default" ng-model="gifSize">

                <option value="" disabled selected style="display: none;">125px</option>
                <option value="25">25px</option>
                <option value="50">50px</option>
                <option value="75">75px</option>
                <option value="100">100px</option>
                <option value="125">125px</option>
                <option value="150">150px</option>
                <option value="200">200px</option>
                <option value="250">250px</option>
                <option value="300">300px</option>
                <option value="350">350px</option>
                <option value="400">400px</option>
                <option value="450">450px</option>
                <option value="500">500px</option>
                <option value="550">550px</option>
            </select>
        </div> -->

        <!--This is where the user can change the size of the text that will
 be displayed when they type.-->

        <div class="col s2 hide-on-small-only">
            <label>Text Size</label>
            <select class="browser-default" ng-model="textSize">

                <option value="" disabled selected style="display: none;">24</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="14">14</option>
                <option value="16">16</option>
                <option value="18">18</option>
                <option value="20">20</option>
                <option value="22">22</option>
                <option value="24">24</option>
                <option value="26">26</option>
                <option value="28">28</option>
                <option value="30">30</option>
                <option value="32">32</option>
                <option value="34">34</option>
                <option value="36">36</option>
                <option value="38">38</option>
                <option value="42">42</option>
                <option value="44">44</option>
                <option value="48">48</option>
                <option value="50">50</option>
                <option value="54">54</option>
                <option value="58">58</option>
                <option value="60">60</option>
                <option value="62">62</option>
                <option value="66">66</option>
                <option value="68">68</option>
                <option value="82">82</option>
                <option value="94">94</option>
                <option value="106">106</option>
                <option value="128">128</option>
                <option value="150">150</option>
                <option value="206">206</option>
            </select>
        </div>

<!--FOR SMALLER SCREENS-->
        <div class="col s3 offset-s1 hide-on-med-and-up">
            <label>Text Size</label>
            <select class="browser-default" ng-model="textSize">

                <option value="" disabled selected style="display: none;">24</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="14">14</option>
                <option value="16">16</option>
                <option value="18">18</option>
                <option value="20">20</option>
                <option value="22">22</option>
                <option value="24">24</option>
                <option value="26">26</option>
                <option value="28">28</option>
                <option value="30">30</option>
                <option value="32">32</option>
                <option value="34">34</option>
                <option value="36">36</option>
                <option value="38">38</option>
                <option value="42">42</option>
                <option value="44">44</option>
                <option value="48">48</option>
                <option value="50">50</option>
                <option value="54">54</option>
                <option value="58">58</option>
                <option value="60">60</option>
                <option value="62">62</option>
                <option value="66">66</option>
                <option value="68">68</option>
                <option value="82">82</option>
                <option value="94">94</option>
                <option value="106">106</option>
                <option value="128">128</option>
                <option value="150">150</option>
                <option value="206">206</option>
            </select>
        </div>
        <!--TO DO: I want to make it so that you can change your font as you want-->
        <!-- This is the dropdown option for changing the font family. -->
        <!--
    <div class="col s2">
        <label>Font Family</label>
        <select class="browser-default" ng-model="rating">

            <option value="" disabled selected style="display: none;">PG</option>
            <option value="y">Y</option>
            <option value="g">G</option>
            <option value="pg">PG</option>
            <option value="pg-13">PG-13</option>
            <option value="r">R</option>
        </select>
    </div>-->
    </div>
</div>

<!-- This creates the chips for each GIF that is added
to the page when the user is writing. -->

<div class="container">
    <div class="row">
        <!-- <h5>Custom GIF's</h5> -->
        <div class="chip" ng-repeat="tags in tag" ng-class="{
          'purple lighten-3 white-text': $index === 0,
          'blue darken-1 white-text': $index === 1,
          'amber lighten-1 white-text': $index === 2,
          'teal accent-4 white-text': $index === 3,
          'pink lighten-3 white-text': $index === 4,
          'light-blue darken-1 white-text': $index === 5,
          'teal accent-3 white-text': $index === 6,
          'amber white-text': $index === 7,
          'purple lighten-2 white-text': $index === 8,
          'teal accent-3 white-text': $index === 9,
          'light-blue white-text': $index === 10,
          'teal accent-5 white-text': $index === 11,
          'pink lighten-2 white-text': $index === 12,
          'red lighten-1 white-text': $index === 13

        }">
            {{tags}}
            <i class="material-icons" ng-click="deleteGif(tags)">close</i>
        </div>
    </div>
</div>

<!-- This is the area where users write and their creations come to be. (aka textbox)-->

<div class="row hide-on-small-only">
    <form class="col s11 offset-s1">
        <div class="row">


            <div class="input-field col s11">

                <i class="material-icons prefix">mode_edit</i>
                <textarea id="icon_prefix2" class="materialize-textarea"

                ng-model="userInput" placeholder="                       And watch as your story comes to life."></textarea>
                <!--The spaces above are there on purpose. If they aren't there the text conflicts.-->
                <label for="icon_prefix2">Write Here:</label>
            </div>

        </div>


    </form>
    <a id = "clear" class="waves-effect waves-light btn-small right" ng-click="clearBoard()">Clear Board<i class="material-icons prefix left">clear</i></a>
</div>

<!--FOR SMALL SCREENS -->
<div class="row hide-on-med-and-up">
    <form class="col s11">
        <div class="row">

            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="icon_prefix2" class="materialize-textarea"

                ng-model="userInput"></textarea>
                <!--The spaces above are there on purpose. If they aren't there the text conflicts.-->
                <label for="icon_prefix2">Write Here:</label>
            </div>
        </div>
    </form>
</div>


<!-- Where I bind what the user writes to the page-->
<!-- <a ui-sref = "write({userId:2})" ng-click="sendUserDataToFB(words)"><h1>See the live version</h1></a> -->
<div class="row hide-on-small-only">
    <div class="words col s10 offset-s1" id="textOnMainPage" ng-bind-html="words"></div>
</div>
<!--FOR SMALL SCREENS-->
<div class="row hide-on-med-and-up">
    <div class="words col s12" id="textOnMainPage" ng-bind-html="words"></div>
</div>
