<!-- This is the dropdown menu that the user can use to choose the symbol
that they want to use to create custom GIF's in their writing. -->

<div class="container">
    <div class="row">

        <div class="col s2">
            <label>GIF symbol</label>
            <select class="browser-default" ng-model="id">

                <option value="" disabled selected style="display: none;">/</option>
                <option value="/">/</option>
                <option value="$">$</option>
                <option value="+">+</option>
                <option value="*">*</option>
                <option value="&">&</option>
                <option value="#">#</option>
                <option value="!">!</option>
                <option value="@">@</option>
                <option value="%">%</option>
                <option value="=">=</option>
                <option value=".">.</option>
                <option value="^">^</option>
                <option value="-">-</option>
                <option value="|">|</option>
                <option value="[">[</option>
                <option value="]">]</option>
                <option value="{">{</option>
                <option value="}">}</option>
                <option value=":">:</option>
                <option value=",">,</option>
                <option value="`">`</option>
                <option value="<">
                    <</option>
                        <option value=">">></option>
                        <option value="\">\</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="z">z</option>
            </select>
        </div>

<!-- This is the rating system dropdown menu for user's to
choose which rating of GIF's they want to use-->

        <div class="col s2">
            <label>GIF Rating</label>
            <select class="browser-default" ng-model="rating">

                <option value="" disabled selected style="display: none;">PG</option>
                <option value="y">Y</option>
                <option value="g">G</option>
                <option value="pg">PG</option>
                <option value="pg-13">PG-13</option>
                <option value="r">R</option>
            </select>
        </div>


<!--TO FIX IN THE FUTURE. ALLOWS USERS TO CHANGE SIZE OF GIF-->
<!--This is where the user can change the size of the text that will
  be displayed when they type.-->

        <!-- <div class="col s2">
            <label>GIF Size</label>
            <select class="browser-default" ng-model="gifSize">

                <option value="" disabled selected style="display: none;">125px</option>
                <option value="25">25px</option>
                <option value="50">50px</option>
                <option value="75">75px</option>
                <option value="100">100px</option>
                <option value="125">125px</option>
                <option value="150">150px</option>
                <option value="200">200px</option>
                <option value="250">250px</option>
                <option value="300">300px</option>
                <option value="350">350px</option>
                <option value="400">400px</option>
                <option value="450">450px</option>
                <option value="500">500px</option>
                <option value="550">550px</option>
            </select>
        </div> -->

<!--This is where the user can change the size of the text that will
 be displayed when they type.-->

        <div class="col s2">
            <label>Text Size</label>
            <select class="browser-default" ng-model="textSize">

                <option value="" disabled selected style="display: none;">24</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="14">14</option>
                <option value="16">16</option>
                <option value="18">18</option>
                <option value="20">20</option>
                <option value="22">22</option>
                <option value="24">24</option>
                <option value="26">26</option>
                <option value="28">28</option>
                <option value="30">30</option>
                <option value="32">32</option>
                <option value="34">34</option>
                <option value="36">36</option>
                <option value="38">38</option>
                <option value="42">42</option>
                <option value="44">44</option>
                <option value="48">48</option>
                <option value="50">50</option>
                <option value="54">54</option>
                <option value="58">58</option>
                <option value="60">60</option>
                <option value="62">62</option>
                <option value="66">66</option>
                <option value="68">68</option>
                <option value="82">82</option>
                <option value="94">94</option>
                <option value="106">106</option>
                <option value="128">128</option>
                <option value="150">150</option>
                <option value="206">206</option>
            </select>
        </div>
    </div>
</div>

<!-- This creates the chips for each GIF that is added
to the page when the user is writing. -->

<div class="container">
    <div class="row">
        <h5>Custom GIF's</h5>
        <div class="chip" ng-repeat="tags in tag"
        ng-class= "{
          'purple lighten-3 white-text': $index === 0,
          'light-blue darken-1 white-text': $index === 1,
          'amber lighten-1 white-text': $index === 2,
          'teal accent-4 white-text': $index === 3,
          'pink lighten-3': $index === 4
          'purple lighten-3 white-text': $index === 5,
          'light-blue darken-1 white-text': $index === 6,
          'amber lighten-1 white-text': $index === 7,
          'teal accent-4 white-text': $index === 8,
          'pink lighten-3': $index === 9,
          'purple lighten-3 white-text': $index === 10,
          'light-blue darken-1 white-text': $index === 11,
          'amber lighten-1 white-text': $index === 12,
          'teal accent-4 white-text': $index === 13,
          'pink lighten-3': $index === 14,
          'purple lighten-3 white-text': $index === 15,
          'light-blue darken-1 white-text': $index === 16,
          'amber lighten-1 white-text': $index === 17,
          'teal accent-4 white-text': $index === 18,
          'pink lighten-3': $index === 19,
          'purple lighten-3 white-text': $index === 20,
        }">
            {{tags}}
            <i class="material-icons" ng-click="deleteGif(tags)">close</i>
        </div>
    </div>
</div>

<!-- This is the area where users write and their creations come to be. (aka textbox)-->

<div class="row">
    <form class="col s11 offset-s1">
        <div class="row">
            <div class="input-field col s11">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="icon_prefix2" class="materialize-textarea" ng-model="userInput"></textarea>
                <label for="icon_prefix2">Write Here:</label>
            </div>
        </div>
    </form>
</div>

<!-- Where I bind what the user writes to the page-->

<div class="row">
    <div class="words col s10 offset-s1" id = "textOnMainPage" ng-bind-html="words"></div>
</div>
